<p>【質問】</p>
<% title = @question.title %>
<%= markdown(title).html_safe %>
<hr>
<p>【詳細】</p>
<%  content = @question.detail %>
<%= markdown(content).html_safe %>

<hr>
<p>【markdown　確認用】</p>
<%
  text =<<~TEXT
    # 大見出し
    ## 中見出し
    ### 小見出し
  TEXT
 %>
<%= markdown(text).html_safe %>

<h1>【回答】</h1>



<h1>【回答投稿】</h1>
<%= form_with model:[@question,@solution], local: true do |f| %>
  
  <div class="form-group">
     <p><%= label_tag "form-detail","【詳細】" %></p>
     <%= f.text_area :detail ,id:"form-detail", class:"form-control", rows:10 %>
  </div>
  <%= f.hidden_field :title, :value => @question.id  %>
     <%= f.submit "送信",class:"btn btn-primary btn-block" ,id:"question-btn" %>
<% end %>
