<p>【質問】</p>
<% title = @question.title %>
<%= markdown(title).html_safe %>
<hr>
<p>【詳細】</p>
<%  content = @question.detail %>
<%= markdown(content).html_safe %>
<hr>



<h3>【回答】</h3>
<p><% @solutions .each do |solution|%>
  <% solution = solution.detail %>
  <%= markdown(solution).html_safe %>
<% end %></p>




<h2>回答投稿</h2>
<%= form_with model:[@question,@solution], local: true do |f| %>
  <div class="form-group">
     <p><%= label_tag "form-detail","【詳細】" %></p>
     <%= f.text_area :detail ,id:"form-detail", class:"form-control", rows:10 %>
  </div>
     <%= f.submit "送信",class:"btn btn-primary btn-block" ,id:"question-btn" %>
<% end %>
