<!DOCTYPE html>
<html>
  <head>
    <title>GyakutenCloneGroup9</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
    <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to '新規ユーザー登録', new_user_registration_path, class: 'post' %>
    <% end %>


    <%= yield %>
    
  </body>
</html>
